<h1>WALLETS</h1>
<br /><br /><br />
<% if flash[:warning] %>
	<div class="alert alert-warning"><%= flash[:warning] %></div>
<% end %>

<% if flash[:info] %>
	<div class="alert alert-info"><%= flash[:info] %></div>
<% end %>

<div class="col-md-24">
	<a href="/page/wallets/new" class="btn btn-primary">New Wallet</a>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Wallet</th>
			<th>Balance</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @keys['result'].each do |k| %>
				<tr>
					<td><%= k %></td>
					<td><%= eth_getBalance(k) %> wei</td>
					<td>
						<%= link_to 'Send', { action: 'wallets_send_money', from_address: k }, { class: 'btn btn-primary' } %>
					</td>
				</tr>
		<% end %>
	</tbody>
</table>
