<!DOCTYPE html>
<html>
<head>
<title>Nzmist</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<script type="text/javascript" src="/web3.js"></script>

</head>

<body>
<nav id="main_nav" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ETH MINANG</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to 'Wallet <span class="sr-only">(current)</span>'.html_safe, { controller: 'page', action: 'wallets' } %>
                    <!-- <a href="/page/wallets">Wallet <span class="sr-only">(current)</span></a> -->
                </li>
                <li>
                    <a href="/contracts/index">Contracts</a>
                    <%#= link_to 'Contracts', { controller: 'contracts', action: 'index' } %> <%# agak aneh karena gak bisa dipakai %>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Panel <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/adm/contracts">Contracts</a></li>
                        <li>
                            <%= link_to 'Config', controller: 'adm/config', action: 'index' %>
                            <!-- <a href="/adm/config">Config</a> -->
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: $('#geth_modal').modal();">GETH</a>
                </li>
                <li>
                    <a href="/api_command/index">API</a>
                </li>
                <li>
                    <a href="/compile/index">Compile</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="geth_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">GETH Command</h4>
            </div>
            <div class="modal-body">
                <p>
                    <input type="text" class="form-control" name="command" value='geth --testnet --datadir /Volumes/NZCARD/EthData --rpc --rpcapi "eth,net,web3" ' />
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="app.">Run</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container-fluid">
    <%= yield %>
</div>
<%= console %>
</body>
</html>
